body{
    font-family: "Oswald", sans-serif;
    font-style: normal;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navbar-icon{
    margin-left: 73rem;
}
.categories-text{
    margin-left: 10px;
    font-size: 20px;
}
.nav-link.link-primary:hover{
    background-color: rgb(140, 209, 246);
    border-radius: 8px;
    scale: 1.2;
}
.number-of-news-contianer{
    background-color: azure;
    width: 90%;
    margin-top: 5px;
    margin-left: 3.5em;
    padding-top: 10px;
    padding-bottom: 8px;
}
.number-of-news-contianer>p{
    padding-left:5px;
    padding-top: 5px;
    font-size: 30px;
}
#number-of-news>span{
    color:red;
}
.sort-news-text{
    display: inline;
}
.sort-news-container{
    display: inline;
    margin-left: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    background-color: rgb(130, 127, 127);
    opacity: 70%;
}
.d-flex.justify-content-between>h3:first-child{
    font-size: 25px;
    color: white;
    margin-right: 10px;
    background-color: rgb(160, 128, 255);
    border-radius: 5px;
    padding: 7px;
}
.d-flex.justify-content-between>h3:nth-child(2){
    margin-left: 10px;
    border: solid 2px rgb(160, 128, 255);
    border-radius: 5px;
    padding: 7px;
}
.news-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.news-text{
    margin-left: 20px;
}
.news-text>h5{
    margin-top: 5px;
}
.news-text>p{
    margin-top: 40px;
}
.author-container {
    display: flex;
    align-items: center;
}
.author-img-container {
    display: inline-block;
    margin-right: 10px;
}
.author-container > div:nth-child(2){
    display: inline-block;
}
.author-container > div:nth-child(2) > h5{
    font-size: 13px;
}
.author-container > div:nth-child(2) > p{
    font-size: 13px;
}
.news-author{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.author-img {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.news-views{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 30px 30px;
    grid-gap: 10px;
}
.news-views>h5{
    font-size: 20px;
}

.modal-news-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-news-details>img{
    width:60%;
    margin-bottom: 10px;
}
.modal-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.modal-author-details {
    display: flex;
    align-items: center;
}

.modal-author-details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.total-view, .rating {
    flex: 2;
    text-align: center;
}

.total-view {
    text-align: center;
}

.rating {
    text-align: center;
}
.rating>h5{
    font-size: 14px;
}
.footer-container{
    width:100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 15px;
    background-color: rgb(157, 210, 229);
    position: relative;
}
.footer-container>h3{
         position: absolute;
         left:50%;
         transform: translate(-50%,-50%);
         font-size: 20px;
         

}
@media only screen and (max-width: 720px){
    .navbar-icon{
        margin-left: 90%;
    }
    .news-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .news-container>img{
        width: 50%;
    }
}
